.trail-search-section {
  width: 100%;
  height: 380px;
  background-color: rgba(0, 0, 0, 0.164);
  display: flex;
  align-items: center;
}

.trail-search-section .form-container {
  width: 1280px;
  margin: 0 auto;
}

.trail-search-section .form-container .heading {
  font-size: 68px;
}

.trail-search-section .form-container .text {
  font-size: 18px;
}

.trail-search-section .form-container .search-field {
  padding: 12px 24px;
  width: 35%;
  display: block;
  font-size: 18px;
  margin-top: 24px;
  border: 3px solid rgba(0, 0, 0, 0.698);
}

.trail-search-section .form-container .search-field:focus {
  border-color: black;
  outline: 0;
}

.trail-search-section .form-container .submit-btn {
  margin-top: 18px;
  padding: 14px 38px;
  width: 17.5%;
  outline: 0;
  cursor: pointer;
  background-color: #000000;
  color: white;
  font-size: 18px;
  border: none;
}

/* TRAIL RESULTS STYLES */

.trail-results-section {
  max-width: 100%;
}

.trail-results-section .container {
  width: 1280px;
  margin: 60px auto;
}

.trail-results-section .results-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 28px;
}

.trail-card-item {
  width: 30%;
  height: 460px;
  margin-bottom: 42px;
  margin-right: 3%;
}

.trail-card-item .thumbnail-container {
  width: 100%;
  height: 260px;
}

.trail-card-item .thumbnail-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trail-card-item .details-container {
  margin-top: 8px;
}

.trail-card-item .details-container .name {
  margin: 0;
  margin-top: 6px;
  font-size: 24px;
}

.trail-card-item .details-container .description {
  margin-top: 12px;
  font-weight: 300;
  max-height: 60px;
  overflow: hidden;
}

.trail-card-item .details-container .difficulty {
  margin-top: 12px;
  display: block;
  background-color: rgb(37, 195, 32);
  width: fit-content;
  padding: 6px;
  color: white;
  border-radius: 4px;
}

.results-placeholder {
  margin: 120px auto;
  display: flex;
  align-items: center;
}

.results-placeholder .text-container {
  margin-right: 48px;
  text-align: center;
}

.results-placeholder .text-container .heading {
  font-size: 32px;
  margin: 0;
}

.results-placeholder .text-container .text {
  margin: 0;
  margin-top: 18px;
}
