/* CAROUSEL STYLES */

.carousel-container {
  position: relative;
  width: 100vw;
  height: 86vh;
}

.carousel-text-container {
  position: absolute;
  width: 1280px;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: white;
}

.carousel-container .content-container {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.carousel-text-container .content-container .title {
  font-size: 82px;
}

.carousel-text-container .content-container .text {
  margin: 18px 0;
  width: 75%;
  font-size: 20px;
}

.carousel-text-container .content-container .btn {
  outline: none;
  border: none;
  padding: 16px 62px;
  font-size: 18px;
  border-radius: 3px;
  background-color: #f9f9f9;
  color: black;
}

.carousel-container::after {
  content: '';
  background-color: #0000009a;
  width: 100%;
  height: 100%;
  position: absolute;
}

.carousel-slide {
  opacity: 0;
  position: absolute;
  inset: 0;
  transition: opacity 350ms ease-in-out;
  transition-delay: 350ms;
}

.carousel-slide[data-active] {
  opacity: 1;
  transition-delay: 0ms;
}

.carousel-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* TRAIL SEARCH FORM STYLES */

.trail-search-section {
  width: 100%;
  height: 580px;
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
}

.trail-search-section .form-container {
  width: 1280px;
  margin: 0 auto;
}

.trail-search-section .form-container .form-title {
  font-size: 68px;
  margin: 0;
}

.trail-search-section .form-container .text {
  font-size: 20px;
  margin: 0;
  margin-top: 12px;
  margin-bottom: 24px;
}

.trail-search-section .form-container .search-field {
  width: 340px;
  padding: 12px 42px;
  font-size: 18px;
  width: 35%;
  outline: 0;
  border: 3px solid rgba(0, 0, 0, 0.698);
  color: black;
}

.trail-search-section .form-container .submit-btn {
  margin-top: 18px;
  padding: 14px 38px;
  width: 17.5%;
  outline: 0;
  cursor: pointer;
  background-color: #000000;
  color: white;
  font-size: 18px;
  border: none;
  display: block;
}

/* CARDS STYLES */

.cards-section {
  width: 1280px;
  margin: 0 auto;
  height: 980px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards-section .heading {
  font-size: 42px;
  text-align: center;
}

.cards-section .cards-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 140px;
}

.cards-section .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 28%;
  padding: 38px 24px;
  background-color: #f9f9f9;
  border-radius: 24px;
  border: 2px solid black;
  transition: .1s ease-in;
  cursor: pointer;
}

.cards-section .card:hover {
  transform: translateY(-5%) scale(103%);
  box-shadow: 0 5px 0px black;
}

.cards-section .card .title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-section .card .title-container img {
  width: 92px;
}

.cards-section .card .title-container .title {
  margin-top: 42px;
  margin-bottom: 12px;
  font-size: 24px;
  color: black;
  padding: 0 8px;
  font-weight: 500;
}

/* NEWSLETTER FORM STYLES */

.newsletter-section {
  background-color: #f9f9f9;
}

.newsletter-section .newsletter-container {
  width: 1280px;
  margin: 0 auto;
  height: 980px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newsletter-section .heading {
  font-size: 52px;
  padding-top: 30px;
  width: fit-content;
}

.newsletter-section .text {
  max-width: 55%;
  margin-top: 12px;
  margin-bottom: 38px;
  font-size: 18px;
}

.newsletter-section .form-container .submit-btn{
  padding: 12px 64px;
  margin-top: 10px;
  border: none;
  color: white;
  background-color: black;
}

.newsletter-section .form-container .submit-btn:hover {
  background-color: rgba(0, 0, 0, 0.876);
}
