main {
  width: 1280px;
  margin: 0 auto;
}

/* ARTICLE THUMBNAIL/TITLE SECTION */

.article-thumbnail {
  margin-top: 60px;
}

.article-thumbnail .article-label {
  background-color: #2ad4cb;
  padding: 2px 8px;
  display: block;
  width: fit-content;
  border-radius: 12px;
  color: white;
}

.article-thumbnail .img-container {
  width: 100%;
  height: 520px;
  margin-top: 8px;
}

.article-thumbnail .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.article-thumbnail .article-info {
  margin-top: 8px;
}

.article-thumbnail .article-info .article-heading {
  font-size: 52px;
  text-decoration: underline;
}

.article-thumbnail .article-info .date-published-text {
  color: #6f6f6f;
  margin-top: 8px;
}

/* ARTICLE BODY SECTION */

.article-body {
  margin-top: 200px;
  margin-bottom: 200px;
  font-family: 'Outfit';
}

.article-body .content-block {
  margin-top: 60px;
  font-size: 20px;
}

.article-body .content-block .section-heading {
  font-size: 42px;
}

.article-body .content-block .section-sub-heading {
  font-size: 28px;
}

.article-body .content-block .section-paragraph {
  font-weight: 300;
  margin-top: 24px;
}

.article-body .content-block .content-list {
  margin-top: 28px;
  font-weight: 300;
  margin-left: 60px;
}

.article-body .content-block .content-list span {
  font-weight: 500;
}

.article-body .content-block .content-list .list-item {
  margin-top: 12px;
}