/* ARTICLE BODY SECTION */

.article-body {
  margin-top: 200px;
  margin-bottom: 200px;
  font-family: 'Outfit';
}

.article-body .content-block {
  margin-top: 60px;
  font-size: 20px;
}

.article-body .content-block .section-heading {
  font-size: 42px;
}

.article-body .content-block .section-sub-heading {
  font-size: 28px;
}

.article-body .content-block .section-paragraph {
  font-weight: 300;
  margin-top: 24px;
}

.article-body .content-block .content-list {
  margin-top: 28px;
  font-weight: 300;
  margin-left: 60px;
}

.article-body .content-block .content-list span {
  font-weight: 500;
}

.article-body .content-block .content-list .list-item {
  margin-top: 12px;
}